<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Spotify Web Api</title>
		<link rel="stylesheet" href="/css/style.css">
	    <script src="https://kit.fontawesome.com/d7dd6c36c4.js" crossorigin="anonymous"></script>
	</head>
	<body>