<%- include('inc/header') %>
<div class="container">
	<div class="cards">
		<div class="card">
			<a href="/playlist">Playlist Api</a>
			<a href="/user">User Api</a>
		</div>
	</div>
</div>
<%- include('inc/footer') %>