<%- include('inc/header') %>

<div class="spotify-login">
  <div class="container-full">
    <div class="spotify-login-img">
      <img src="img/login-wallpaper.png">
    </div>
    <div class="sidebar">
      <div class="sidebar-header">
        <i class="fab fa-spotify"></i>
      </div>
      <div class="sidebar-center">
        <form action="/login">
          <button type="submit"><i class="fab fa-spotify"></i> Login Spotify</button>
        </form>
      </div>
      <div class="sidebar-footer">
        <p>It does not have any partnership or contract with Spotify. <a href="https://github.com/keazon/spotify-api-nodejs">It is open source.</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('inc/footer') %>
