*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  display: center;
  z-index: 1;
  background: #646464;
  max-width: 260px;
  margin: 0 auto 100px;
  padding: 60px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 15%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #212121;
  width: 100%;
  border-radius: 15%;
  border: 0;
  padding: 20px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #212121;
  font-size: 12px;
}
.form .message a {
  color: #242424;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #212121; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #212121, #212121);
  background: -moz-linear-gradient(right, #212121, #212121);
  background: -o-linear-gradient(right, #212121, #212121);
  background: linear-gradient(to left, #212121, #212121);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

a{
	text-decoration: none;
}

.cards{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login {
  transition-duration: 0.4s;
  border-radius: 100px;
}

.login:hover {
  background-color: #4CAF50; /* Green */
  border-radius: 50%;
  color: white;
}

.card{
	background: "#0a2514s";
	padding: 1rem;
	box-shadow: 1px 1px 10px #333;
	border-radius: 14px;
	transition: .2s linear;
	width: 500px;
	height: 650px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.card .image{
	display: flex;
	justify-content: center;
	object-fit: cover;
}

.card .image img{
	border-radius: 50%;
	width: 210px;
	height: 210px;
	object-fit: cover;
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
}

.owner a{
	color: rgba(255, 255, 255, 0.7);
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
}

.owner a:hover{
	text-decoration: underline;
}

.card .name{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 15px;
}

.music-cards{
	height: 600px;
	overflow-y: scroll;
	padding: 0.5rem;
}

.music-card{
	display: flex;
	justify-content: space-between;
	padding: 0.7rem;
	margin-bottom: 1px;
	cursor: pointer;
	border-radius: 2px;
	transition: .1s;
}

.music-card:hover{
	background-color: #282828;
}

.music-card .left{
	display: flex;
	align-items: center;
}

.music-image img{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-left: 15px;
	margin-right: 15px;
}

.music-name-artist h3{
	color: #fff;
}

.music-name-artist h5{
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
	font-size: 13px;
}

.music-name-artist a:hover{
	text-decoration: underline;
}

.number{
	color: rgba(255, 255, 255, 0.5);
}

.time p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
}

.description{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 10px;
	padding: 0.4rem;
}

.description a{
	color: rgba(255, 255, 255, 0.9);
}

.description a:hover{
	text-decoration: underline;
}

.description h3{
	color: rgba(255, 255, 255, 0.5);
	font-weight: 200;
	font-size: 12px;
}

.name h1{
	color: #fff;
}

.name.display {
	margin-top: 0.5rem;
}